<%
  no_cookies_icon_text ||= "VIDEO"
  no_cookies_change_settings_link ||= "/help/cookies"
  no_cookies_change_settings_text ||= "Change your cookie settings"
  no_cookies_to_watch_text ||= "to watch the video"
  no_cookies_or_text ||= "or"
  no_cookies_watch_link_text ||= "Watch on YouTube"
  inverse ||= false
  css_classes = %w(youtube__video-wrapper)
  css_classes << "youtube__video-wrapper--inverse" if inverse
%>
<%= tag.div class: css_classes do %>
  <div class="youtube__video-logo" role="img" aria-label="<%= no_cookies_icon_text %>">
    <%= no_cookies_icon_text %>
  </div>
  <%= render "govuk_publishing_components/components/govspeak", {
  } do %>
    <p class="youtube__video-placeholder">
      <strong>
        <a href="<%= no_cookies_change_settings_link %>" class="govuk-link">
          <%= no_cookies_change_settings_text %>
        </a>
      </strong>
      <span role="text">
        <br>
        <strong>
          <%= no_cookies_to_watch_text %>
        </strong>
        <br>
        <%= no_cookies_or_text %>
        <br>
      </span>
      <a
          href="<%= youtube_video_url %>"
          class="govuk-body govuk-link"
          data-youtube-player-analytics="true"
          data-youtube-player-analytics-category="EmbeddedYoutube">
        <%= no_cookies_watch_link_text %>
      </a>
    </p>
  <% end %>
  <%= render "govuk_publishing_components/components/details", { title: transcription_summary} do %>
    <%= transcription_text.html_safe %>
  <% end %>
<% end %>
